<div class="card border border-danger bg-danger d-flex justify-content-center bg-opacity-10 w-50">
    <div>
        <h5 class="card-header text-black fw-bold">Acces Denied</h5>
        <div class="card-body">
            <h5 class="card-title text-danger"></h5>
            <p class="card-text text-black fw-bold">You don't have permision to get this page!!</p>
        </div>
    </div>
</div>