


<div class="card">
    <div class="card-header">
        <div class="card-title">All Scheduling Jobs</div>
    </div>
    <div class="card-body">
        <div class="form-check form-switch">            
            <label class="form-check-label text-danger" >Runing Email Notify one day before Rezervation??</label>
            <a asp-controller="Administration" asp-action="ScheduleJobNotifyEmail" class="btn btn-success">Run !</a>
        </div>
    </div>
    <div class="card-footer">
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-danger" >Back</a>
    </div>
</div>